body{
    font-size: 15px;
    font-family: Outfit;
    font-weight: 400, 700;
}

#container {
    background-color: hsl(212, 45%, 89%);
    padding: 3rem 2.5rem;
}

.image{
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    width: 15%;
    height: auto;
    margin: auto;
    padding: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 6px;
  }
  h1 {
    font-size: 15px;
    text-align: center;
    color: hsl(218, 44%, 22%);
  }

  p {
    font-size: 12px;
    text-align: center;
    color: hsl(220, 15%, 55%);
  }